.section {
    padding: 10rem 0 2rem;
    /* border: 2px solid red; */
  }

.container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;
    /* border: 2px solid rgb(0, 38, 255); */
}
.home__container{
    row-gap: 7em;
}
.home__content{
    grid-template-columns: 120px repeat(2, 1fr);
    column-gap: 2rem;
    padding: 1rem 0;
    align-items: center;
}
.home__sub{
    color: #006CE0;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}
.home__title{
    font-size: clamp(2.5rem, 5vw, 3.75rem);
    margin-bottom: 10px;
    color: #141414
}
.home__hand{
    width: 38px;
    height: 38px;
    margin-left: 0.4rem;
}

.home__subtitle{
    color: #4A4A4A;
    font-size: clamp(2.5rem, 5vw, 3.75rem);
    margin-bottom: 10px;
    margin-left: 0 ;
    padding-left: 0;
}

.home__description{
    color: #4A4A4A;
    font-weight: 600;;
    font-size: clamp(0.5rem, 3vw, 1.25rem);
    padding-bottom: 10px;
}
.home__highlight{
    color: #006CE0;
    font-weight: 700;
}
.home__counter{
    color: #000000;
    font-weight: 700;
    font-size: 20px;
}

.home__scroll{
    margin-left: 9.25rem;
}

.wheel{
    animation: scroll 2s ease infinite;
}

.home__scroll-name{
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
    margin-left: 2px;
}

.home__scroll-arrow{
    font-size: 1.25rem;
    color: var(--title-color);
}

/* From Uiverse.io by himanshu9682 */ 
.type--A {
    --line_color: #555555;
    --back_color: #ffecf6;
  }
  .type--B {
    --line_color: #1b1919;
    --back_color: #e9ecff;
  }
  .type_C {
    --line_color: #000000;
    --back_color: #1282fa;
  }
  .button {
    display: inline-block;
    position: relative;
    z-index: 0;
    width: 200px;
    height:65px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: var(--line_color);
    letter-spacing: 2px;
    transition: all 0.3s ease;
    border-radius: 300px;
    margin: 20px 0;
  }
  .button__text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .button::before,
  .button::after,
  .button__text::before,
  .button__text::after {
    content: "";
    position: absolute;
    height: 3px;
    border-radius: 2px;
    background: var(--line_color);
    transition: all 0.5s ease;
  }
  .button::before {
    top: 0;
    left: 54px;
    width: calc(100% - 56px * 2 - 16px);
  }
  .button::after {
    top: 0;
    right: 54px;
    width: 8px;
  }
  .button__text::before {
    bottom: 0;
    right: 54px;
    width: calc(100% - 56px * 2 - 16px);
  }
  .button__text::after {
    bottom: 0;
    left: 54px;
    width: 8px;
  }
  .button__line {
    position: absolute;
    top: 0;
    width: 56px;
    height: 100%;
    overflow: hidden;
  }
  .button__line::before {
    content: "";
    position: absolute;
    top: 0;
    width: 150%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 300px;
    border: solid 3px var(--line_color);
  }
  .button__line:nth-child(1),
  .button__line:nth-child(1)::before {
    left: 0;
  }
  .button__line:nth-child(2),
  .button__line:nth-child(2)::before {
    right: 0;
  }
  .button:hover {
    letter-spacing: 6px;
    font-size: 22px;
  }
  .button:hover::before,
  .button:hover .button__text::before {
    width: 8px;
  }
  .button:hover::after,
  .button:hover .button__text::after {
    width: calc(100% - 56px * 2 - 16px);
  }
  .button__drow1,
  .button__drow2 {
    position: absolute;
    z-index: -1;
    border-radius: 16px;
    transform-origin: 16px 16px;
  }
  .button__drow1 {
    top: -16px;
    left: 40px;
    width: 32px;
    height: 0;
    transform: rotate(30deg);
  }
  .button__drow2 {
    top: 44px;
    left: 77px;
    width: 32px;
    height: 0;
    transform: rotate(-127deg);
  }
  .button__drow1::before,
  .button__drow1::after,
  .button__drow2::before,
  .button__drow2::after {
    content: "";
    position: absolute;
  }
  .button__drow1::before {
    bottom: 0;
    left: 0;
    width: 0;
    height: 32px;
    border-radius: 16px;
    transform-origin: 16px 16px;
    transform: rotate(-60deg);
  }
  .button__drow1::after {
    top: -10px;
    left: 45px;
    width: 0;
    height: 32px;
    border-radius: 16px;
    transform-origin: 16px 16px;
    transform: rotate(69deg);
  }
  .button__drow2::before {
    bottom: 0;
    left: 0;
    width: 0;
    height: 32px;
    border-radius: 16px;
    transform-origin: 16px 16px;
    transform: rotate(-146deg);
  }
  .button__drow2::after {
    bottom: 26px;
    left: -40px;
    width: 0;
    height: 32px;
    border-radius: 16px;
    transform-origin: 16px 16px;
    transform: rotate(-262deg);
  }
  .button__drow1,
  .button__drow1::before,
  .button__drow1::after,
  .button__drow2,
  .button__drow2::before,
  .button__drow2::after {
    background: var(--back_color);
  }
  .button:hover .button__drow1 {
    animation: drow1 ease-in 0.06s;
    animation-fill-mode: forwards;
  }
  .button:hover .button__drow1::before {
    animation: drow2 linear 0.08s 0.06s;
    animation-fill-mode: forwards;
  }
  .button:hover .button__drow1::after {
    animation: drow3 linear 0.03s 0.14s;
    animation-fill-mode: forwards;
  }
  .button:hover .button__drow2 {
    animation: drow4 linear 0.06s 0.2s;
    animation-fill-mode: forwards;
  }
  .button:hover .button__drow2::before {
    animation: drow3 linear 0.03s 0.26s;
    animation-fill-mode: forwards;
  }
  .button:hover .button__drow2::after {
    animation: drow5 linear 0.06s 0.32s;
    animation-fill-mode: forwards;
  }
  @keyframes drow1 {
    0% {
      height: 0;
    }
    100% {
      height: 100px;
    }
  }
  @keyframes drow2 {
    0% {
      width: 0;
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    11% {
      opacity: 1;
    }
    100% {
      width: 120px;
    }
  }
  @keyframes drow3 {
    0% {
      width: 0;
    }
    100% {
      width: 80px;
    }
  }
  @keyframes drow4 {
    0% {
      height: 0;
    }
    100% {
      height: 120px;
    }
  }
  @keyframes drow5 {
    0% {
      width: 0;
    }
    100% {
      width: 124px;
    }
  }
  
  .button_container {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .button:not(:last-child) {
    margin-bottom: 64px;
  }
  
/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .home__content{
        grid-template-columns: 100px repeat(2, 1fr);
        column-gap: 1.25rem;
    }
    .home__hand{
        width: 35px;
        height: 35px;
    }
    .home__subtitle{
        margin-bottom: var(--mb-1);
    }
    .home__subtitle::before{
        width: 42px;
        top: 0.8rem;
    }
   .home__description{
    max-width: initial;
   }
   .home__img{
    width: 250px;
    height: 250px;
    box-shadow: inset 0 0 0 8px rgb(255 255 255 / 30%);
   }
   .home__scroll{
    margin-left: 7.5rem;
   } 
  
}
  /* For medium devices */
@media screen and (max-width: 768px) {
    .section {
        padding: 6rem 0 2rem;
      }
    .home__content{
        grid-template-columns: 0.5fr 3fr;
        padding-top: 3.5rem;
    }
    .home__title, .home__subtitle{
        font-size: 30px;
    }
    .home__description{
        font-size: 15px;
    }
    .home__img{
        order: initial;
        justify-self: initial;
    }
    .home__data{
        grid-column: 1/3;
    }
    .home__img{
        box-shadow: inset 0 0 0 6px rgb(255 255 255 / 30%);
        width: 200px;
        height: 200px;
    }
    .home__scroll{
        display: none;
    }
    .button{
        font-size: 15px;
    }
    .home__counter{
        color: #000000;
        font-weight: 700;
        font-size: 15px;
    }
}
  /* For small devices */
  @media screen and (max-width: 350px) {
   .home__img{
    width: 180px;
    height: 180px;
   }

   .home__hand{
    width: 22px;
    height: 22px;
   }
}
