.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background-color: #f3f4f6;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.scrolled {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
}
.container {
  max-width: 1860px;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoButton {
  background: none;
  border: none;
  cursor: pointer;
}

.logoButton:focus {
  outline: none;
  border-radius: 0.375rem;
}

.nav {
  display: flex;
}
.navLink {
  padding: 0.5rem 1rem;
  color: #4A4A4A;
  font-weight: 600;
  font-size:1rem;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.2s ease;
}

.navLink:hover,
.navLink:focus {
  color: #3b82f6;
}

.navLink:focus {
  outline: none;
  box-shadow: 0 0 0 2px #3b82f6;
  border-radius: 0.375rem;
}
/* 
.activeLink {
  color: #3b82f6;

  font-weight: bold;
} */

.menuToggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.menuToggle:focus {
  outline: none;
  box-shadow: 0 0 0 2px #3b82f6;
  border-radius: 0.375rem;
}

.menuIcon {
  width: 1.5rem;
  height: 1.5rem;
}

@media (max-width: 768px) {
  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }

  .menuOpen {
    display: flex;
  }

  .navLink {
    padding: 1rem;
  }

  .menuToggle {
    display: block;
  }
}

