
.floatingWidget {
    position: fixed;
    bottom: 20px;    /* Distance from the bottom */
    left: 20px;      /* Distance from the left */
    color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /* Optional shadow */
    z-index: 1000;   /* Ensure it stays on top of other content */
  }
  
.icon{
    font-size: 1.5rem;
    width: 35px;
    height: 35px;
    color: rgb(82, 82, 82);
    transition: all 0.3s ease-in-out;
}
.icon:hover{
    color: #000;
    transform: translateY(-5px);
}
  
.social{

    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 5rem;
}

@media screen and (max-width: 992px) {
   .floatingWidget{
        display: none;
   }
}